theme: jekyll-theme-hyde
title: MoTang's Blog
highlighter: rouge
paginate: 5
paginate_path: /page:num/
gems:
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-redirect-from
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
